.portfolio-kitchen {
  padding-top: 120px;
}

.portfolio-kitchen__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.portfolio-kitchen__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 46px;
  line-height: 63px;
  color: #424242;
}

.list2 {
  padding-left: 25px;
}

.portfolio-blockquote__text2 {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  font-style: italic;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;

}

.box7 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.box7__text {
  width: 100%;
  max-width: 760px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #424242;
}