.portfolio-canteen {
  padding-top: 120px;
}

.portfolio-canteen__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box8 {
  width: 100%;
  max-width: 760px;

}

.box8__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 46px;
  line-height: 63px;
  color: #424242;

}

.box8__text {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #424242;

}

.canteen1 {}

.canteen2 {}